<h1>🌱 Tratamientos Experimentales</h1>

<p class="subtitle">
Se evaluaron tres tratamientos para analizar el efecto del compost y del fertilizante NPK sobre el crecimiento del rábano.
</p>

<div class="treatment-grid">

    <div class="treatment-card">

        <img src="assets/img/T1.jpg" alt="Tierra Virgen">
        
        <div class="tag control"> 🟤 Control</div>

        <h2>T1</h2>

        <h3>Tierra Virgen</h3>

        <p>
            Suelo natural utilizado como tratamiento de control.
        </p>

        <div class="specs">

            <div><strong>Suelo:</strong> ✔</div>

            <div><strong>Compost:</strong> ✘</div>

            <div><strong>NPK:</strong> ✘</div>

        </div>

        <ul>

            <li>✔ Sin compost</li>

            <li>✔ Sin fertilizante</li>

            <li>✔ Referencia experimental</li>

        </ul>

        <div class="card-footer">
            Tratamiento de control
        </div>

    </div>

    <div class="treatment-card">

        <img src="assets/img/T2.jpg" alt="Compost">
        <div class="tag organic">🟢 Orgánico</div>

        <h2>T2</h2>

        <h3>Tierra + Compost</h3>

        <p>
            Mezcla enriquecida con compost orgánico.
        </p>

        <div class="specs">

            <div><strong>Suelo:</strong> ✔</div>

             <div><strong>Compost:</strong> ✔</div>

            <div><strong>NPK:</strong> ✘</div>

        </div>

        <ul>

            <li>✔ Compost orgánico</li>

            <li>✔ Mayor materia orgánica</li>

            <li>✔ Mejor retención de humedad</li>

        </ul>
        <div class="card-footer">
            Tratamiento orgánico
        </div>
    </div>

    <div class="treatment-card best">

        <img src="assets/img/T3.jpg" alt="Compost NPK">
        
        <div class="tag bestTag">
            🏆 Mejor desempeño
        </div>

        <h2>🏆 T3</h2>

        <h3>Tierra + Compost + NPK</h3>

        <p>
            Tratamiento con mejor desarrollo experimental.
        </p>

        <div class="specs">

            <div><strong>Suelo:</strong> ✔</div>

            <div><strong>Compost:</strong> ✔</div>

            <div><strong>NPK:</strong> ✔</div>

        </div>

        <ul>

            <li>✔ Compost</li>

            <li>✔ Fertilizante NPK</li>

            <li>✔ Mayor crecimiento observado</li>

        </ul>
        <div class="card-footer">
             Tratamiento enriquecido con NPK
        </div>
    </div>

</div>